---
import Layout from "../layouts/Layout.astro"

---

<Layout>
  <div>
    <h1>Sobre Nosotros</h1>
    <p>Bienvenido a nuestra tienda en línea. Nos especializamos en ofrecer productos de alta calidad a precios competitivos. Nuestro objetivo es brindar una experiencia de compra excepcional a nuestros clientes.</p>
    <p>Fundada en 2025, nuestra empresa ha crecido rápidamente gracias a nuestro compromiso con la satisfacción del cliente y la calidad de nuestros productos. Nos enorgullece ofrecer una amplia gama de artículos que se adaptan a las necesidades y gustos de nuestros clientes.</p>
    <p>Nos esforzamos por mantenernos actualizados con las últimas tendencias del mercado y trabajamos directamente con proveedores confiables para garantizar que cada producto que ofrecemos cumpla con nuestros altos estándares.</p>
    <p>Gracias por elegirnos como su tienda en línea de confianza. Estamos aquí para ayudarle en cada paso del camino y esperamos que disfrute de su experiencia de compra con nosotros.</p>
     <img src="/" alt="">
</div>
</Layout>