---
import Layout from "../layouts/Layout.astro"
import { Icon } from 'astro-icon/components'
---

<Layout>
    <div>
        <img src="/modelokonlomio.jpeg" alt="">
        <h1>Contactanos</h1>
        <form action="/submit-contact" method="POST">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required />
            <br />
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required />
            <br />
            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" required></textarea>
            <br />
            <button type="submit">Enviar</button>
        </form>
        <div>
        <Icon name="whatsapp" />
        <Icon name="instagram" />
        <div>
    </div>
</Layout>