---
import Naranja from "../components/Naranja.astro";

import Layout from "../layouts/Layout.astro"


---

<Layout>
    <h1>MARVEL COLLECTION</h1>
    <div>
        <Naranja title="hulk" price={15}img="/hulk.png" />
        <Naranja title=" spiderman" price={10}img="/spiderman.png"  />
        <Naranja title="capitan america" price={25}img="/capitanamerica.png"  />
        <Naranja title="thanos" price={30}img="/thanos.png"  />
        <Naranja title="starlord" price={15}img="/starlord.png"  />
    </div>

    <h1>ANIME COLLECTION</h1>
    <div>
        <Naranja title="demon" price={20}img="/demon.png"  />
        <Naranja title="naruto" price={15}img="/naruto.png"  />
        <Naranja title="onepiece" price={25}img="/onepiece.png"  />
        <Naranja title="zoro" price={30}img="/zoro.png"  />
        <Naranja title="dragonballz" price={10}img="/dragonballz.png"  />
    </div>

    <h1>VIDEO GAME COLLECTION</h1>
    <div>
        <Naranja title="godofwar" price={20}img="/godofwar.png"  />
        <Naranja title="mario" price={15}img="/mario.png"  />
        <Naranja title="pacman" price={25}img="/pacman.png"  />
        <Naranja title="scorpion" price={30}img="/scorpion.png"  />
        <Naranja title="sonic" price={10}img="/sonic.png"  />
    </div>
        
        <h1>SPORT COLLECTION</h1>
    <div>
        <Naranja title="acuñajr" price={20}img="/acuñajr.png"  />
        <Naranja title="lebronjames" price={15}img="/lebronjames.png"  />
        <Naranja title="messi" price={25}img="/messi.png"  />
        <Naranja title="pablo" price={30}img="/pablo.png"  />
        <Naranja title="shoheiohtani" price={10}img="/shoheiohtani.png"  />
     </div>
</Layout>


<style>
    div {
        display: grid;
        gap: 100px;
        padding: 20px 60px;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }
</style>