---
import { Icon } from 'astro-icon/components'
---


<header>
    <nav>
        <ul>
           </li>
                <Icon name={"lupa"} width={36} height={36} ></Icon>
             </li>
            <li><a href="/">INICIO</a></li>
            <li><a href="/shop">TIENDA</a></li>
            <li>
                <img src="/LOGO_KONLOMIO-removebg-preview.png" alt="" />
            </li>
            <li><a href="/about-us">SOBRE NOSOTROS</a></li>
            <li><a href="/contact">CONTACTANOS</a></li>
            <li>
                <Icon name={"COMPRA"} width={36} height={36}></Icon>
            </li>
        </ul>
    </nav>
</header>



<style>
   img {
    width: 150px;
    font-size: 24px;
    font-weight: 700;

   }
   nav {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;
     padding: 10px 60px;
     background-color: #ff2600
    }
   ul {
     display: flex;
     gap: 16px;
     font-weight: 700;
     align-items: center;
     background-color: #e17705;
      }
      
      body {
        background-color: #fcd6b1
      }
</style>