---
import { Icon } from 'astro-icon/components'
---


<header>
    <nav>
        <ul>
           </li>
                <Icon name={"LUPA.png"} ></Icon>
             </li>
            <li><a href="/">home</a></li>
            <li><a href="/shop">shop</a></li>
            <li>
                <img src="/LOGO_KONLOMIO-removebg-preview.png" alt="" />
            </li>
            <li><a href="/about-us">about-us</a></li>
            <li><a href="/contact">contactanos</a></li>
            <li>
                <Icon name={"CARRITO.png"} ></Icon>
            </li>
        </ul>
    </nav>
</header>



<style>
    ul {
        display: flex;
        gap: 16px;
    }
</style>