---
import { Icon } from 'astro-icon/components'
---


<header>
    <nav>
        <ul>
                <img src="/LOGO_KONLOMIO-removebg-preview.png" alt="logo de la pagina " />
             </li>
            <li><a href="/">home</a></li>
            <li><a href="/about-us">about us</a></li>
            <li>
                <img src="/COMPRA" alt="" />
            </li>
            <li><a href="/shop">shop</a></li>
            <li><a href="/contact">contactanos</a></li>
            <li>
                <img src="/lupa" alt="" />
            </li>
        </ul>
        <Icon name="COMPRA" />
    </nav>
</header>
