---
import { Icon } from "astro-icon/components";
---

<div>
    <img src="" alt="">
    </div>
         <p></p>
         <Icon name={""}/>
      <div>
      </div>
           <p></p>
           <p></p>
        <div>
    </div>
