---
import { Icon } from "astro-icon/components";
import { imageConfig } from "astro:assets";

interface Props {
    title: string
    price: number
    img: string
}

    
const title = Astro.props.title
const dolitas = Astro.props.price
const foto = Astro.props.img
---

<div>
    <img src={foto} alt="">
    </div>
         <p>{title}l</p>
         <Icon name={"like"}/>
      <div>
      </div>
           <p>${dolitas}</p>
           <p>envio gratis</p>
        <div>
    </div>
