<div>
    <img src="" alt="">
    <h3> titulo de la tarjeta </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium praesentium optio unde aspernatur quos vero quibusdam sunt quasi labore adipisci aliquam ut commodi illum quidem pariatur, fugiat ex tempora ipsa.</p>
    <button>compra</button>
</div>