<!-- --/><!doctype html> -->
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>konlomio</title>
	</head>
	<body>
		<header>
			<nav>
			<a href="/">inicio</a>
			<a href="/about-us">sobre nosotros</a>
			<a href="/shop">tienda</a>
			<a href="/collections">colecciones</a>
		</nav>
		</header>

		<slot />
		
	</body>
</html>
